.rowBlock {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.select-date-view {
    padding-left: 15px;
    flex-direction: row;
    align-items: center;
    display: flex;
}

.date-title-view {
    margin-right: 15px;
}

.bottom-block {
    width: 100%;
    height: 55px;
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.btn-class-group{
    padding-left: 15px;
    width: 100%;
    height:55px;
    flex-direction: row;
    display: flex;
    align-items: center;
}